/* main text color #212121*/
/*secondary text color #757575*/
/*accent #2196F3*/
/*h1 #FFFFFF*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: #e5e5e5;
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.logo {
  text-decoration: none;
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

/*Site nav*/

.site-nav .list {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.site-nav .anlink {
  text-decoration: none;
  color: var(--secondary-text-color);
}
.site-nav .link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav .anlink:hover,
.auth-nav .anlink:focus {
  color: var(--accent-color);
}

/*Hero*/

.hero-title {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
}

/*Sections*/

.section-title {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
}

/*Reautures*/

.reautures .title {
  color: var(--primary-text-color);
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
}

/*Team*/

.team-member {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.position {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

/*Footer*/

.footer-item {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/*Portfolio*/

.portfolio .title {
  color: var(--primary-text-color);
}
